<%= simple_form_for @game, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :player_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :user, collection: User.all %>
      
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_1_deck, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :deck, collection: Deck.all %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :user, collection: User.all %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_2_deck, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :deck, collection: Deck.all %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_3, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :user, collection: User.all %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_3_deck, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :deck, collection: Deck.all %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_4, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :user, collection: User.all %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_4_deck, :class => 'control-label' %>
    <div class="controls">
      <%= f.association :deck, collection: Deck.all, label_method: :name, value_method: :id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :winner, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :winner, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                games_path, :class => 'btn' %>
  </div>
<% end %>
